<center>
<h1>Update Account</h1>
<% if @user.errors.any? %>
<div>
  <% @user.errors.full_messages.each do |msg| %>
  <%= msg %>
</div>
<% end %>
<% end %>
<%= render partial: "users/form", locals: {user: @user} %>
</center>
