<%# user info %>
<h1>Hello <%= @user.first_name %>!</h1>
<%# destination that the user liked %>
<p>Your next destination is </p>
<ul>
  <% @user.destinations.each do |d| %>
  <li><%= d.name %></li>
  <% end %>
</ul>
