<header class="masthead text-white ">
    <div class="overlay"></div>
    <div class="container slider-top-text">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="myp-slider text-center">Runaway to Europe</p>
                <p class="myp text-center">wth should I runaway to?</p>
                <a class="btn btn-primary btn-join" href="#">tell me</a>
            </div>
        </div>
    </div>
</header>
