
    <div class="overlay"></div>
    <div class="container slider-top-text">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="title" >Runaway</p>
                <p class="small_title">where should I runaway?</p>
                <a class="btn btn-primary btn-join" href="<%= destination_path(@destination_sample) %>">tell me</a>
            </div>
        </div>
    </div>
