// @import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
  * vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
  * files in this directory. Styles in this file should be added after the last require_* statement.
  * It is generally better to create a new file per style scope.
  *
  *= require_tree .
  *= require_self
  */
  body {
      margin: 0;
      padding: 0;
  }

  a.navbar-brand {
      float: left;
      height: 50px;
      padding: 28px 24px;
      font-size: 20px;
      line-height: 20px;
      text-decoration: none;
      color: #191923;
      font-family: 'Lobster', cursive;
      font-weight: 700;

  }

  nav.main-navigation {
      position: relative;
  }

  nav.main-navigation ul.nav-list {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      text-align: right;
  }

  .nav-list li.nav-list-item {
      display: inline-block;
      line-height: 40px;
      margin-left: 30px;
      margin-top: 12px;
  }

  a.nav-link {
      text-decoration: none;
      font-size: 16px;
      font-family: 'Lobster', cursive;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      color: #404040;
      transition: transform .3s;

      &:hover {
        color: black;
        transform: translateX(10px);
      }
  }


  @keyframes FadeIn {
      0% {
          opacity: 0;
          -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
          -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          transform: translateY(-10px);
      }


      100% {
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          pointer-events: auto;
          transition: cubic-bezier(0.4, 0, 0.2, 1);
      }
  }

  .nav-list li {
      animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
      animation-fill-mode: both;
  }

  .nav-list li:nth-child(1) {
      animation-delay: .3s;
  }

  .nav-list li:nth-child(2) {
      animation-delay: .6s;
  }

  .nav-list li:nth-child(3) {
      animation-delay: .9s;
  }

  /* Animation */

  @keyframes fadeInUp {
      from {
          transform: translate3d(0, 40px, 0)
      }

      to {
          transform: translate3d(0, 0, 0);
          opacity: 1
      }
  }

  @-webkit-keyframes fadeInUp {
      from {
          transform: translate3d(0, 40px, 0)
      }

      to {
          transform: translate3d(0, 0, 0);
          opacity: 1
      }
  }

  .animated {
      animation-duration: 2s;
      animation-fill-mode: both;
      -webkit-animation-duration: 2s;
      -webkit-animation-fill-mode: both
  }

  .animatedFadeInUp {
      opacity: 0
  }

  .fadeInUp {
      opacity: 0;
      animation-name: fadeInUp;
      -webkit-animation-name: fadeInUp;
  }

  header.masthead {
      position: relative;
      height: 100vh;
      background-color: #eeeeee;
      background: url('https://images.unsplash.com/photo-1483005954020-0176b0c2b982?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjIxMTIzfQ&s=fce3c008a880fe0419755c9755d58cf5&auto=format&fit=crop&w=1351&q=80') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-bottom: 15rem;
  }

  .row {
    margin: auto;
  }

 .title {
 margin-top: 110px;
 color: black;
 font-size: 100px;
 font-family: 'Lobster', cursive;
 }

 .small_title {
 color: black;
 font-size: 30px;
 font-family: 'Lobster', cursive;
 }

 .destination-container {
  margin: 150px;
  text-align: center;
  font-family: 'Lobster', cursive;
 }

 .city-container {
   padding-top: 100px;
 }

 .city-name {
   text-align: center;
 }
